<app-hero></app-hero>
<div class="container">
    <div class="row justify-content-center g-5 m-5">
        <h1 class="text-center">Come to us today!</h1>
        <div class="card flex flex-column col-lg-3 col-md-2 col-sm-1" style="width: 20rem;">
            <img src="assets/images/pizza.jpg" class="card-img-top">
            <div class="card-body">
                <h3 class="card-text">Pizza Italiano!</h3>
                <p class="card-text">Pasta Carbonara!</p>
            </div>
          </div>
          <div class="card flex flex-column col-lg-3 col-md-2 col-sm-1" style="width: 20rem;">
            <img src="assets/images/carbonara.jpg" class="card-img-top">
            <div class="card-body">
                <h3 class="card-text">Good Food!</h3>
                <p class="card-text">For a fair price!</p>
            </div>
          </div>
          <div class="card flex flex-column col-lg-3 col-md-2 col-sm-1" style="width: 20rem;">
            <img src="assets/images/pasta.jpg" class="card-img-top">
            <div class="card-body">
                <h3 class="card-text">Italian Restaurant!</h3>
                <p class="card-text">Mamma Mia!</p>
            </div>
          </div>
    </div>
</div>